@import ./../../Styles/_variables

.menu
  grid-area: menu
  background-color: $primaryColor
  box-shadow: 0 0 5px 3px $color-night-rider-translucent
  border-radius: 5px

.list
  padding: 20px 40px

.item
  max-width: 75%

.link,
.linkActive
  padding: 20px
  margin: -20px
  color: #ffffff
  transition: $transition-default

.link
  &:hover
    font-weight: 500

.linkActive
  font-weight: 700
