$maxSiteWidth: 1920px
$minSiteWidth: 320px
$maxSitePadding: 0 40px
$midSitePadding: 0 20px
$minSitePadding: 0 15px
$maxContainerWidth: 1480px
$midContainerWidth: 994px
$minContainerWidth: 576px

//fonts
$primaryFontSize: 16px
$fontFamily: 'Manrope', sans-serif


// color scheme
$blackColor: #000000
$whiteColor: #FFFFFF
$primaryColor: #150d3abe
$color-Gray-1: #e2e2e2
$color-lucky-point: #2E2E52
$color-night-rider-translucent: rgba(#312e2e,0.52)

// transition
$transition-default: all 0.3s ease 0s