@import ../../_variables
@import ../../_colors

.header
   width: 100%
   grid-area: header
   background-color: $primaryColor
   padding: $maxSitePadding
   display: flex
   align-items: center
   justify-content: center
.container
   width: 100%
   max-width: $maxContainerWidth
   .link
      max-width: 120px
      width: 100%
