.app-wrapper {
  display: grid;
  grid-template-rows: 90px 1fr;
  grid-template-columns: 3fr 8fr;
  grid-gap: 5px;
  grid-template-areas: 
  "header header"
  "aside main";
  background-color: rgba(109, 118, 158, 0.418); 
}

.header {
  grid-area: header;
  background-color: rgba(103, 189, 192, 0.616);
  padding: 10px;
  display: flex;
  align-items: center;
}

.header__logo {
  max-width: 80px;
  width: 100%;
}

.menu {
  grid-area: aside;
  background-color: aqua;
}

.main {
  grid-area: main;
  background-color: aquamarine;
}

.main__img-box {
  width: 100%;
}

.main__img {
  width: 100%;
  object-fit: cover;
  vertical-align: top;
}