body
   background: url(./img/facebook_cover_photo_2.png) center no-repeat
   background-size: cover

.app-wrapper
   display: grid
   grid-template-rows: 90px 1fr
   grid-template-columns: 2fr 10fr 3fr
   grid-gap: 5px
   grid-template-areas: "header header header" "menu main aside"
